@import "mixin";

.contacts-hero {
    padding: 156px 0 200px 0;
    overflow: hidden;
    background-image: url("../images/contacts-img-01.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    margin: 0 0 -80px 0;
    &__container {
    }

    &__body {
    }

    &__title {
        color: var(--white, #fff);
        text-align: center;
        font-family: "Unbounded", sans-serif;
        @include adaptiv-value("font-size", 80, 36, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-transform: capitalize;
        span {
            font-weight: 700;
        }
    }
}

.contacts-main {
    border-radius: 80px 80px 0 0;
    padding: 80px 0 160px 0;
    background-color: #6e3bf8;
    margin-bottom: -80px;
    position: relative;
    @media (max-width: 767px) {
        border-radius: 40px 40px 0 0;
        padding: 60px 0 140px 0;
    }
    &__container {
    }

    &__body {
    }

    &__title {
        margin: 24px 0 0 0;
        color: #fff;
        text-align: center;
        font-family: "Unbounded", sans-serif;
        @include adaptiv-value("font-size", 40, 24, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 40px */
        text-transform: capitalize;
    }

    &__text {
        max-width: 800px;
        margin: 16px auto 0 auto;
        color: #fff;
        text-align: center;
        font-family: Unbounded;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%; /* 18.2px */
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    &__items {
        margin: 60px 0 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        &:nth-child(1) {
            padding: 40px;
            border-radius: 16px;
            background: linear-gradient(152deg, #fff -115.9%, #6e3bf8 67.52%);
            position: relative;
            &::before { 
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 200px;
                height: 100%;
                background-image: url('../images/contacts-img-01.png');
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: contain;
                @media(max-width: 767px) { 
                    background-image: url('../images/contacts-img-04.png');
                    width: 100px;
                    bottom: auto;
                    top: 0;
                    background-position: top right;
                    border-radius: 0 16px 0 0;
                }
            }
        }

        &:nth-child(2) {
            padding: 40px;
            border-radius: 16px;
            background: linear-gradient(152deg, #fff -115.9%, #6e3bf8 67.52%);
            position: relative;
            &::before { 
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 200px;
                height: 100%;
                background-image: url('../images/contacts-img-02.png');
                background-repeat: no-repeat;
                background-position: center top;
                background-size: contain;
                @media(max-width: 767px) { 
                    background-image: url('../images/contacts-img-05.png');
                    top: auto;
                    bottom: 0;
                    width: 80px;
                    background-position: right bottom;
                    border-radius: 0 0 16px 0;
                }
            }
        }
        &:nth-child(3) {
            padding: 40px;
            border-radius: 16px;
            background: linear-gradient(152deg, #fff -115.9%, #6e3bf8 67.52%);
            position: relative;
            height: 288px;
            &::before { 
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 350px;
                height: 100%;
                background-image: url('../images/contacts-img-03.png');
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: contain;
                @media(max-width: 767px) { 
                    background-image: url('../images/contacts-img-06.png');
                }
            }
        }

        iframe {
            border-radius: 16px;
            height: 288px;
        }
    }

    &__label {
        color: #fff;
        font-family: "Manrope", sans-serif;
        @include adaptiv-value("font-size", 16, 14, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    &__link {
        margin: 10px 0 0 0;
        display: flex;
        color: #fff;
        font-family: "Unbounded", sans-serif;
        @include adaptiv-value("font-size", 24, 18, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 28.8px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        text-transform: capitalize;
    }

    &__address {
        height: 288px;
        color: #fff;
        font-family: 'Unbounded', sans-serif;
        @include adaptiv-value('font-size', 24, 18, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-transform: capitalize;
    }
}
