@import "mixin";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 16px 0;
    &__container {
    }

    &__body {
        border-radius: 100px;
        border: 0.5px solid rgba(240, 241, 241, 0.5);
        padding: 0 16px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        background-color: #000000;
    }

    &__col-01 {
    }

    &__logo {
        img { 
            width: 200px;
            object-fit: cover;
        }
        /* color: #fff;
        text-align: center;
        font-family: "Unbounded", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        padding: 10px 0;
        transition: all 0.3s ease 0s;
        display: flex;
        position: relative;
        z-index: 50;
        &:hover {
            color: #e5f355;
        } */
    }

    &__col-02 {
    }

    &__menu {
        @media (max-width: 992px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #000000;
            opacity: 0;
            visibility: hidden;
            overflow: auto;
            padding: 80px 0 16px 0;

            &._active {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__btn-menu {
        @media (min-width: 993px) {
            display: none;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        position: relative;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 24px;
            height: 24px;
            display: flex;
            transition: all 0.3s ease 0s;
        }

        .open {
        }

        .close {
            opacity: 0;
            visibility: hidden;
        }

        &._active {
            .open {
                opacity: 0;
                visibility: hidden;
            }

            .close {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__contacts {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 65px 0 0 0;
        @media (min-width: 993px) {
            display: none;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: #fff;
        font-size: 12px;
        font-family: "Manrope", sans-serif;

        border-radius: 16px;
        background: rgba(255, 255, 255, 0.05);
        padding: 24px;
    }

    &__contact-link {
        color: #fff;
        font-family: 'Unbounded', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 19.2px */
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        text-transform: capitalize;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 24px;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }
    }

    &__item {
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 10px;

        color: #fff;
        text-align: center;
        font-family: "Unbounded", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        transition: all 0.3s ease 0s;
        &:hover {
            color: #e5f355;
        }

        @media (max-width: 992px) {
            font-size: 40px;
            line-height: normal;
            text-align: start;
            padding: 0px 20px;
        }
    }
}
