@import "mixin";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 16px 0;
    &__container {
    }

    &__body {
        border-radius: 100px;
        border: 0.5px solid rgba(240, 241, 241, 0.50);
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        background-color: #000000;
    }

    &__col-01 {
    }

    &__logo {
        color: #fff;
        text-align: center;
        font-family: "Unbounded", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        padding: 10px 0;
        transition: all 0.3s ease 0s;
        display: flex;
        &:hover { 
            color: #E5F355;
        }
    }

    &__col-02 {
    }

    &__menu {
        @media(max-width: 992px) { 
            display: none;
        }
    }
    
    &__btn-menu { 
        @media(min-width: 993px) {
            display: none;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        position: relative;

        span { 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 24px;
            height: 24px;
            display: flex;
            transition: all 0.3s ease 0s;
        }

        .open { 
            
        }

        .close {
            opacity: 0;
            visibility: hidden;
        }

        &._active { 

            .open { 
                opacity: 0;
                visibility: hidden;
            }

            .close { 
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__item {
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 10px;

        color: #fff;
        text-align: center;
        font-family: "Unbounded", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        transition: all 0.3s ease 0s;
        &:hover { 
            color: #E5F355;
        }
    }
}