@import "mixin";

.home-hero {
    padding: 156px 0 211px 0;
    overflow: hidden;
    /* background-image: url('../images/home-hero-01.svg'); */
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    &__container {
    }

    &__body {
    }

    &__title {
        color: var(--white, #fff);
        text-align: center;
        font-family: "Unbounded", sans-serif;
        @include adaptiv-value("font-size", 80, 40, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-transform: capitalize;
    }

    &__text {
        max-width: 800px;
        width: 100%;
        margin: 24px auto 0 auto;

        color: var(--white, #fff);
        text-align: center;
        font-family: "Unbounded", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;

        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        border-radius: 100px;
        background: #e5f355;
        padding: 16px 36px;
        margin: 40px auto 0 auto;

        color: #000;
        font-family: "Unbounded", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        @media (max-width: 767px) {
            width: 100%;
            padding: 16px;
        }
    }

    &__image {
        position: absolute;
        bottom: 65px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.home-scale {
    background-color: #6e3bf8;
    border-radius: 80px 80px 0 0;
    padding: 80px 0 140px 0;
    background-image: url("../images/home-hero-05.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    margin-bottom: -60px;
    @media (max-width: 767px) {
        border-radius: 40px 40px 0 0;
        padding: 60px 0 140px 0;
        background-image: url("../images/home-hero-06.png");
    }
    &__container {
    }

    &__body {
    }

    &__title {
        color: #fff;
        text-align: center;
        font-family: "Unbounded", sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-transform: capitalize;
    }

    &__text {
        margin: 16px 0 0 0;
        color: #fff;
        text-align: center;
        font-family: "Unbounded", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        border-radius: 100px;
        background: #e5f355;
        padding: 16px 36px;
        margin: 40px auto 0 auto;

        color: #000;
        font-family: "Unbounded", sans-serif;
        @include adaptiv-value("font-size", 20, 13, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        @media (max-width: 767px) {
            width: 100%;
            padding: 16px 10px;
        }
    }
}

.home-reviews {
    border-radius: 80px 80px 0 0;
    padding: 80px 0 160px 0;
    background-color: #f4f5fd;
    margin-bottom: -80px;
    @media (max-width: 767px) {
        border-radius: 40px 40px 0 0;
        padding: 60px 0 140px 0;
    }
    &__container {
    }

    &__body {
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 14px;
        border-radius: 100px;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        background-color: #e1dcfc;

        color: #6e3bf8;
        text-align: center;
        font-family: "Unbounded", sans-serif;
        @include adaptiv-value("font-size", 14, 10, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }

    &__title {
        margin: 24px 0 0 0;
        color: #000;
        text-align: center;
        font-family: "Unbounded", sans-serif;
        @include adaptiv-value("font-size", 40, 24, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-transform: capitalize;
    }

    &__text {
        max-width: 870px;
        margin: 16px auto 0 auto;
        color: #000;
        text-align: center;
        font-family: "Unbounded", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
    }

    &__items {
        margin: 60px 0 0 0;
        display: flex;
        gap: 16px;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__item {
        width: 33.3333%;
        border-radius: 16px;
        background: linear-gradient(141deg, rgba(255, 255, 255, 0) 30.62%, #6e3bf8 158.64%);
        padding: 40px;
        position: relative;
        min-height: 342px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        &::before {
            content: "";
            position: absolute;
            top: 7px;
            left: 14px;
            width: 80px;
            height: 60px;
            background-image: url("../images/home-quote.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
        @media (max-width: 992px) {
            width: 100%;
            min-height: fit-content;
        }
    }

    &__quote {
        color: #000;
        font-family: "Unbounded", sans-serif;
        @include adaptiv-value("font-size", 28, 20, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-transform: capitalize;
    }

    &__name {
        margin: 16px 0 0 0;
        color: #000;
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }

    &__job {
        color: #000;
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }
}
